*{
	box-sizing: border-box;
	margin:0;
}

body{
	margin: 0 auto;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
}

h1{font-size: 2.7rem;}
h2{
	font-size: 2.1rem;
	color: #322e2e;
}
h3{font-size: 1.7rem;}
p{font-size: 1.25;}
li{
	list-style: none;
}

button{
	font-size: 3em;
	font-weight: bold;
	padding: 8px 20px;
	border-radius: 10px;
	border: 0.1px solid rgba(0,0,0,0.8);
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	color: white;
	background-color: #FA4816;
}

button:hover{
	background-color: #FBAD7D;
}

.color-asento{ color: #FA4816; 
}

.container{
	max-width: 100%;
	margin: auto;
}

